*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #f4f4f4;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor-principal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.cube
{
    border: 2px solid gray;
    display: flex;
    width: 500px;
    height: 700px;
    justify-content: center;
    background-color: ghostwhite;
    flex-direction: column;
    align-items: center;
    margin: 10px 500px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.cuadrado
{
    border: 2px solid black;
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    background-color: #f4f4f4;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
.opciones
{
    border: 2px solid gray;
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
}

.opciones:hover {
    background-color: rgb(189, 186, 186);
    color: rgb(0, 0, 0);
    border-color: gray;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2)
}

h1
{
    width: 100px;
    margin: 0 0 0 700px;
}

.texto
{
    border: 2px solid gray;
    display: flex;
    width: 400px;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    padding: 15px;
}
.mensaje
{
    display: flex;          
    align-items: center;    
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 25px;  
    padding: 5px 10px;    
    width: 400px;
    height: 100px;         
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 5px;
}
.text
{
    flex-grow: 1;
    border: none;         
    outline: none;        
    background: transparent; 
    padding: 10px;       
    font-size: 16px;
}

.boton
{
    border: none;         
    background: rgb(217, 216, 216);  
    color: white;         
    width: 40px;          
    height: 40px;         
    border-radius: 50%;   
    font-size: 20px;      
    cursor: pointer;      
    flex-shrink: 0;       
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}
.boton:hover
{
    background-color:gray;
}

.mandar
{
    width: 20px;
    height: 20px;
}
.h3
{
    font-size: 10px;
}

.subtitulo
{
    font-size: 20px;
}
.opcion-radio
{
  display: flex;
  flex-direction: row;  
  align-items: center;  
  margin: 10px 0 10px 0;
}
.cubo
{
    border: 2px solid gray;
    display: flex;
    width: 500px;
    height: 700px;
    background-color: ghostwhite;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:10px;
}
#botones-deuda-container {
    display: none;
    flex-direction: column; /* Para que se apilen */
    align-items: center; /* Para centrarlos */
    width: 100%;
}

.txt, .nm
{
    width: 400px;
    height: 30px;
}

.send
{
    background-color: rgb(208, 208, 245);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(71, 66, 66);
    border-radius: 10px;
    width: 200px;
    height: 100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
    display: flex;
}

.liara
{
    z-index: 3;
    width: 350px;
    height: 500px;
    display: flex;
    transform: scaleX(-1);
}

.liora
{
    border: 2px solid black;
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    background-color: #f4f4f4;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 10px;   
}